{
    "semi": true,
    "singleQuote": true,
    "singleAttributePerLine": false,
    "htmlWhitespaceSensitivity": "css",
    "printWidth": 150,
    "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-tailwindcss"],
    "tailwindFunctions": ["clsx", "cn"],
    "tabWidth": 4,
    "useTabs": false,
    "bracketSpacing": true,
    "arrowParens": "avoid",
    "endOfLine": "lf",
    "proseWrap": "preserve",
    "cssWhitespaceSensitivity": "strict",
    "overrides": [
        {
            "files": "**/*.yml",
            "options": {
                "tabWidth": 4
            }
        }
    ]
}
